<div class="car-product">
  <div class="car-product__car-name">
    <p>title</p>
    <span>♥</span>
  </div>
  <div class="car-product__car-model">model</div>
  <div class="holder">
    <div class="car-product__image">
      <div class="fade"></div>
      <img src="../src/assets/images/Car.svg" alt="car-image" />
    </div>
    <div class="car-product__info">
      <p class="inline-span">
        <span class="span-image">
          <img src="../src/assets/images/svg.svg" alt="" />
        </span>
        <span>80L</span>
      </p>
      <p class="inline-span">
        <span class="span-image">
          <img src="../src/assets/images/dande.svg" alt="" />
        </span>
        <span>manual</span>
      </p>
      <p class="inline-span">
        <span class="span-image">
          <img src="../src/assets/images/peaople.svg" alt="" />
        </span>
        <span>6 People</span>
      </p>
    </div>
  </div>
  <div class="car-product__purchase">
    <span style="font-weight: bolder; font-size: 2rem"> $80.00/</span>
    <button class="btn btn-primary">Rent Now</button>
  </div>
</div>
