@font-face {
  font-family: jakartaPlus;
  src: url(../assets/fonts/PlusJakartaSans-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: jakartaPlus;
  src: url(../assets/fonts/PlusJakartaSans-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: jakartaPlus;
  src: url(../assets/fonts/PlusJakartaSans-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: jakartaPlus;
  src: url(../assets/fonts/PlusJakartaSans-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: jakartaPlus;
  src: url(../assets/fonts/PlusJakartaSans-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: jakartaPlus;
  src: url(../assets/fonts/PlusJakartaSans-ExtraBold.ttf);
  font-weight: 900;
}
*,
html {
  font-family: jakartaPlus, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji"; /* 4 */
}
